h1, p, a, .credits{
    font-size: 18px;
    font-family: 'HKGrotesk-Regular', sans-serif;
    color: #454545;
}

.home-gallery-container a{
    display: block;
}

.home-gallery-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.home-gallery-container li{
    width: 50%;
    list-style: none;
}

.img-container{
    width: 100%;
    padding-top: calc((3 / 4) * 100%);
    position: relative; /* If you want text inside of it */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description{
    line-height: 34px;
    margin-top: 33px;
}

.bio-image-container{
    width: 500px;
    height: 353px;
}

.bio-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 30%;
}

.social-media{
    margin-top: 28px;
}

.social-icon{
    font-size: 26px;
    color: #454545;
}

.social-icon:nth-child(n+2){
    margin-left: 28px;
}

.bio-outer-container{
    display: flex;
    width: 100%;
}

.bio-aside{
    width: 25.83333333333333%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.bio-inner-container{
    position: fixed;
    bottom: 0.75em;
    left: 0.75em;
    display: flex;
    flex-direction: row;
}

.bio-info{
    align-self: flex-end;
}

.bio-inner-container h1{
    padding: 5px 0;
}

.bio-aside-text{
    margin-bottom: 20px;
}

.bio-aside p{
    margin: 28px 0;
    width: 170px;
}

.bio-content{
    width: 500px;
    margin-top: 61px;
}

.wrapper{
    margin: 0 12px;
}

.bio-elements-enter{
    opacity: 0;
    transform: scale(0.9);
}

.bio-elements-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.bio-elements-exit{
    opacity: 1;
}

.bio-elements-exit-active{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.header{
    height: 61px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.bio-close{
    height: 61px;
    display: flex;
    align-items: center;
    position: fixed;
}

.bio-gallery-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 439.58px;
}

.bio-gallery-img-container{
    width: 100%;
    padding-top: calc((4 / 3) * 100%);
    position: relative; /* If you want text inside of it */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bio-gallery-container li{
    width: 32.5%;
    list-style: none;
}

.credits ul{
    list-style: none;
}

.discover-graphic-container{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 156px;
    left: -5%;
    top: 10%;
}

.discover-graphic{
    width: 100%;
    height: 100%;
}

iframe{
    width: 500px;
    height: 281.25px;
}

.news-feed-image-container{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 360px;
    height: 270px;

}

.news-feed-container{
    width: 725px;
    height: 100%;
    list-style: none;
}

/*.img-corner{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}*/
